@model IEnumerable<FlightManager.Services.Models.OutputModels.ReservationViewModel>

<div class="text-center">
    <h1>Check Reservations</h1>
</div>

<table class="table table-striped table-hover table-sm table-bordered">
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Family Name</th>
        <th>Pin</th>
        <th>Telephone Number</th>
        <th>Nationality</th>
        <th>Ticket Type</th>
        <th>Unique PlaneNumber</th>
    </tr>

    @foreach (var reservation in Model)
    {
        <tr>
            <td>@reservation.FirstName</td>
            <td>@reservation.SecondName</td>
            <td>@reservation.FamilyName</td>
            <td>@reservation.PIN</td>
            <td>@reservation.TelephoneNumber</td>
            <td>@reservation.Nationality</td>
            <td>@reservation.TicketType</td>
        </tr>
    }
</table>
