
<div class="text-center">
    <h1>Check Flights</h1>
</div>
<p>
    <a asp-action="AddFlight" class="btn btn-primary mx-3">Create New Flight</a>
</p>

<table class="table table-striped table-hover table- table-bordered bg-white">

    <thead class="thead-dark">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>PlaneType</th>
            <th>Unique Plane Number</th>
            <th>Passenger Seats</th>
            <th>Business Class Seats</th>
            <th>Date Time TakeOff</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var flight in ViewBag.Flights)
    {
        <tr>
            <td>@flight.From</td>
            <td>@flight.To</td>
            <td>@flight.PlaneType</td>
            <td>@flight.UniquePlaneNumber</td>
            <td>@flight.PassengerCapacity</td>
            <td>@flight.BusinessClassCapacity</td>
            <td>@flight.DateTimeTakeOff</td>
            <td>@flight.Duration</td>
            <td>
                <form asp-action="ShowAllReservations" asp-controller="Reservations" method="get">
                    <input type="text" name="UniquePlaneNumber" value="@flight.UniquePlaneNumber" hidden />
                    <input type="submit" value="Reservations" class="bg-transparent border-0 text-info" />
                </form>
            </td>
        </tr>
    }
</table>